<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <dataConfiguration defaultDatabase="SBIIMS_VC" />
  <connectionStrings>
    <add name="SBIIMS_JXC" connectionString="Data Source=192.168.1.199;Initial Catalog=SBIIMS_JXC;Persist Security Info=True;User ID=sa;Password=YZWX001@zhoutao.workspace;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SBIIMS_JXCEntities" connectionString="metadata=.\SBIIMS_JXC.csdl|.\SBIIMS_JXC.ssdl|.\SBIIMS_JXC.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.199;Initial Catalog=SBIIMS_JXC;Persist Security Info=True;User ID=sa;Password=YZWX001@zhoutao.workspace;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SBIIMS_QueryJXCEntities" connectionString="metadata=.\SBIIMS_QueryJXC.csdl|.\SBIIMS_QueryJXC.ssdl|.\SBIIMS_QueryJXC.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.199;Initial Catalog=SBIIMS_JXC;Persist Security Info=True;User ID=sa;Password=YZWX001@zhoutao.workspace;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SBIIMS_AC" connectionString="Data Source=192.168.1.199;Initial Catalog=SBIIMS_AC;Persist Security Info=True;User ID=sa;Password=YZWX001@zhoutao.workspace;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SBIIMS_ACEntities" connectionString="metadata=res://*/SBIIMS_AC.csdl|res://*/SBIIMS_AC.ssdl|res://*/SBIIMS_AC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.199;initial catalog=SBIIMS_AC;persist security info=True;user id=sa;password=YZWX001@zhoutao.workspace;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SBIIMS_Frame" connectionString="Data Source=192.168.1.199;Initial Catalog=SBIIMS_Frame;Persist Security Info=True;User ID=sa;Password=YZWX001@zhoutao.workspace;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SBIIMS_FrameEntities" connectionString="metadata=res://*/SBIIMS_Frame.csdl|res://*/SBIIMS_Frame.ssdl|res://*/SBIIMS_Frame.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.199;Initial Catalog=SBIIMS_Frame;Persist Security Info=True;User ID=sa;Password=YZWX001@zhoutao.workspace;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SBIIMS_Frame_Login_AEntities" connectionString="metadata=res://*/SBIIMS_Frame_Login_A.csdl|res://*/SBIIMS_Frame_Login_A.ssdl|res://*/SBIIMS_Frame_Login_A.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.199;initial catalog=SBIIMS_AC;persist security info=True;user id=sa;password=YZWX001@zhoutao.workspace;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SBIIMS_Frame_Login_BEntities" connectionString="metadata=res://*/SBIIMS_Frame_Login_B.csdl|res://*/SBIIMS_Frame_Login_B.ssdl|res://*/SBIIMS_Frame_Login_B.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.199;initial catalog=SBIIMS_JXC;persist security info=True;user id=sa;password=YZWX001@zhoutao.workspace;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SBIIMS_AC_LinkEntities" connectionString="metadata=res://*/SBIIMS_AC_Link.csdl|res://*/SBIIMS_AC_Link.ssdl|res://*/SBIIMS_AC_Link.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.199;initial catalog=SBIIMS_AC;persist security info=True;user id=sa;password=YZWX001@zhoutao.workspace;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SBIIMS_JXC_LinkEntities" connectionString="metadata=res://*/SBIIMS_JXC_Link.csdl|res://*/SBIIMS_JXC_Link.ssdl|res://*/SBIIMS_JXC_Link.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.199;initial catalog=SBIIMS_JXC;user id=sa;password=YZWX001@zhoutao.workspace;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="External" connectionString="Server=AV-RISCDCSQL372\SQL372;user=devuser;password=best1dev;database=ETXEXTDTD;Connect Timeout=3000" providerName="System.Data.SqlClient" />
    <add name="SBIIMS_VC" connectionString="Data Source=192.168.1.199;Initial Catalog=SBIIMS_VC;Persist Security Info=True;User ID=sa;Password=YZWX001@zhoutao.workspace;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SBIIMS_FK" connectionString="Data Source=192.168.1.199;Initial Catalog=SBIIMS_FK;Persist Security Info=True;User ID=sa;Password=YZWX001@zhoutao.workspace;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SBIIMS_APC" connectionString="Data Source=192.168.1.199;Initial Catalog=SBIIMS_APC;Persist Security Info=True;User ID=sa;Password=YZWX001@zhoutao.workspace;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.3.0.0" />
        <bindingRedirect oldVersion="2.3.5.0" newVersion="4.3.0.0" />
        <bindingRedirect oldVersion="4.0.0.0" newVersion="4.3.0.0" />
        <bindingRedirect oldVersion="4.3.0.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>