<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SBIIMS_JXC_TJBB_CGYCGEntities" connectionString="metadata=res://*/SBIIMS_JXC_TJBB_CGYCG.csdl|res://*/SBIIMS_JXC_TJBB_CGYCG.ssdl|res://*/SBIIMS_JXC_TJBB_CGYCG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.199;initial catalog=SBIIMS_JXC_TJBB_CGYCG;persist security info=True;user id=sa;password=YZWX001@zhoutao.workspace;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>